.content h2{
	text-align: center;

}

/*.content a{
	margin-left: 48%;
	margin-bottom: 10%;
}*/
.slider h3,
.slider h5,
.clients h3 {
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5) ;
	color: black;
}

.about img{
	margin-left: 50%;
	margin-top: 5%;
}


.parallax img {
	filter: grayscale(1);
	opacity: 0.5 !important;
}


.parallax-container{
	max-height: 400px;
}


.clients img{
	max-width: 150px;
	max-height: 150px;
	margin-top: 15%;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0,8));
	margin-bottom: 30px;
}

.cari {
	margin-top: 20%;
}


/*
.col:nth-child(1) {background: #325d88}
.col:nth-child(2) {background: #79a736}
.col:nth-child(3) {background: #dfd7ca}
*/

/*.brand-logo{
	margin-left: -30% !important;
}*/

/*.clients p{
	margin-bottom: 0%;
}*/



.judul {
	font-family: 'Baloo', cursive;
}
